<md-dialog >
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Processo de Impeachment de Dilma Roussef</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2></h2>
                <p>
                    Este Projeto em AngularJs tem como finalidade Mostrar um painel com informações referentes ao Impeachment de Dilma Rouseff.
                </p>

                <p>
                  A primeira Aba diz respeito as estatísticas propriamente ditas, essas informações buscam agregar valor a algum individuo que precise
                  tomar decisões sobre este tema.
                </p>
                <p>
                    A segunda Aba traz a lista de todos os Parlamentares e suas respectivas informações, é possível pesquisar um parlamentar em específico
                    através do campo de pesquisa localizado na parte superior da tela.
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="https://pt.wikipedia.org/wiki/Processo_de_impeachment_de_Dilma_Rousseff" target="_blank" md-autofocus>
                Saiba Mais
            </md-button>
            <span flex></span>

        </md-dialog-actions>
    </form>
</md-dialog>
